@model IEnumerable<miniPrpject_Asp.Models.Cours>

@{
    ViewData["Title"] = "Index";
}



<div class="row" style="margin-top:50px;">
    <div class="col-md-12">

        <div class="card">
            <table class="table mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Professeur)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Classe)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Professeur.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Classe.NomClasse)
                            </td>

                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <input type="hidden" asp-for="@item.Id" />
                                    <input type="submit" value="Delete" class="btn" style="background-color: #e01f1f;" />
                                </form>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
            @using (Html.BeginForm("telechargerExcel", "Cours", FormMethod.Post, new { @class = "myForm" }))
            {
                <input type="submit" value="Import Excel" class="btn" style="    background-color: #3fe01f;
        color: white;
        border: 3px solid #010500;
        margin: 15px;
        margin-left: 800px;
    " />
            }
            
        </div>
    </div>
</div>
<script>

    jQueryAjaxDelete = form => {
        if (confirm('Are you sure to delete this record ?')) {
            try {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        $('#view-all').html(res.html);
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } catch (ex) {
                console.log(ex)
            }
        }

        //prevent default form submit event
        return false;
    }
</script>